
*.bak
*.orig
*.1
*.2
*.tar.*
*.tar
*.backuo
*.priv
*.pub
*.asc
*gnupg*
*.gnupg*
*.ssh*
*id_*
*id_rsa*
.git
.github
session
sessions
*session*
*compiled*
*Compiled*
*.zwc
*.mp4
*.avi
*.png
*.jpg
*.jpeg
*.zip
*.7z
*.tar
*.xz
*.gz
*.zcomp*
*.cdpwd*
*history
*.bak
