/**********************************************************************
 *                           userChrome.css                           *
 *--------------------------------------------------------------------*
 *                                                                    *
 *  This file can be used to customize the look of Mozilla's user     *
 *  interface You should consider using !important on rules which     *
 *  you want to override default settings.                            *
 *                                                                    *
 *  Edit this file and save it as 'userChrome.css':                   *
 *  ________________________________________________________________  *
 * |                                                                | *
 * |         <your-profile-directory>/chrome/userChrome.css         | *
 * |________________________________________________________________| *
 *                                                                    *
 *--------------------------------------------------------------------*
 *                              Examples                              *
 *--------------------------------------------------------------------*
 *                                                                    *
 *                Make all the default font sizes 20 pt               *
 *  ________________________________________________________________  *
 * |                                                                | *
 * |   * {                                                          | *
 * |     font-size: 20pt !important;                                | *
 * |   }                                                            | *
 * |________________________________________________________________| *
 *                                                                    *
 * __________________________________________________________________ *
 *                                                                    *
 *                 Make menu items in particular 15 pt                *
 *                     instead of the default size                    *
 *  ________________________________________________________________  *
 * |                                                                | *
 * |   menupopup > * {                                              | *
 * |     font-size: 15pt !important;                                | *
 * |   }                                                            | *
 * |________________________________________________________________| *
 *                                                                    *
 * __________________________________________________________________ *
 *                                                                    *
 *           Give the Location (URL) Bar a fixed-width font           *
 *  ________________________________________________________________  *
 * |                                                                | *
 * |   #urlbar {                                                    | *
 * |      font-family: monospace !important;                        | *
 * |   }                                                            | *
 * |________________________________________________________________| *
 *                                                                    *
 * __________________________________________________________________ *
 *                                                                    *
 *          Eliminate the throbber and its annoying movement          *
 *  ________________________________________________________________  *
 * |                                                                | *
 * |   #throbber-box {                                              | *
 * |     display: none !important;                                  | *
 * |   }                                                            | *
 * |________________________________________________________________| *
 *                                                                    *
 *--------------------------------------------------------------------*
 *                                                                    *
 * !!! !!! !!! !!! !!! !!! !!! !!! !! !!! !!! !!! !!! !!! !!! !!! !!! *
 * !!!             Do not remove the @namespace line              !!! *
 * !!!           It's required for correct functioning            !!! *
 * !!! !!! !!! !!! !!! !!! !!! !!! !! !!! !!! !!! !!! !!! !!! !!! !!! *
 *                                                                    *
 *               set default namespace to XUL                         *
 *--------------------------------------------------------------------*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*                                                                    *
 **********************************************************************/

/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

/* 
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}
*/

/*
.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}
*/

/* ::::: tabs ::::: */

/*
tabs {
  position: relative;
  z-index: 0;
}
*/

/* ::::: tabpanels ::::: */

tabpanels {
  padding: 0px;
}

/* ::::: tab ::::: */

tab {
  margin-top: 0px;
  padding: 0px 0px;
}

tab[visuallyselected="true"] {
  margin-bottom: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* ::::: toolbarbutton ::::: */


toolbarbutton {
  padding: 0px;
}

/* ::::: toolbarbutton menu ::::: */

/* ::::: toolbarbutton badged ::::: */

.toolbarbutton-badge {
  background-color: #fa00ff !important;
  font-size: 6px !important;
  color: #00dfdf !important;
  max-width: 40px;
}

/* ::::: tooltip ::::: */

tooltip {
  max-width: 80em;
  color: #fa00ff !important;
  background-color: #5f03ff !important;
}

/* ::::: autocomplete ::::: */

html|input[nomatch="true"][highlightnonmatches="true"] {
  color: #0fffff;
}

/* ::::: richlistbox autocomplete ::::: */

.autocomplete-richlistbox {
  appearance: none;
  margin: 0px;
  background-color: #001fff;
  color: #fff100;
}
